[submodule "crispy/Shaun"]
	path = crispy/Shaun
	url = https://github.com/rhero12/Shaun2
[submodule "crispy/Slic"]
	path = crispy/Slic
	url = https://github.com/rhero12/Slic
[submodule "crispy/Radynversion"]
	path = crispy/Radynversion
	url = https://github.com/Goobley/Radynversion
